@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*-------------------- Resetting CSS STARTS here --------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 0;
	/* CSS for the background STARTS here */
	background-image: url("../images/backgrounds/bg_bluewood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	/* CSS for the background ENDS here */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, 
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------- Resetting CSS ENDS here --------------------*/


/* CSS for fonts START here */
h1, h2, nav, small, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
}

h1, nav, button {
	font-size: 18px;
}

h2 {
	font-size: 14px;
}

small {
	font-size: 12px;
}

p, b {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: white;
}

a:link, a:visited, a:active {
	color: white;
	text-decoration: none;
	transition: color 0.1s ease-in-out;
}
/* CSS for fonts END here */



/* CSS for header STARTS here */
header {
	position: fixed;
	display: flex;
	align-items: center;

	width: 100%;
	height: 130px;
	background-color: black;
	z-index: 1;
}

#website-logo {
	float: left;
	flex: none;
	margin: auto 0 auto 40px;
	/*background-color: white;*/
}

#logo {
	width: 90px;
	height: 90px;
}

#name-and-title {
	float: left;
	flex: none;
	width: auto;
	height: 30px;
	margin: auto 0 auto 40px;
	/*background-color: blue;*/
}

#name-and-title h2 {
	margin-top: 30px;
}

nav {
	float: right;
	flex: none;
	display: flex;
	align-items: center;

	width: auto;
	height: 30px;
	margin: auto 40px auto auto;
	/*background-color: green;*/
}

.webpage {
	float: left;
	flex: none;

	width: auto;
	height: 30px;
	margin-left: 40px;
	/*background-color: pink;*/
}

.webpage a {
	position: relative;
	top: 50%;
	/*background-color: purple;*/
}

.webpage a:hover {
	color: #a3c6d0;
}

#current {
	color: #a3c6d0;
}
/* CSS for header ENDS here */



/* CSS for the drop down menu STARTS here */
.dropdown {
	float: left;
	flex: none;

	text-align: left;
	margin-left: 40px;
}

.dropdown-button {
	display: flex;
	align-items: center;

	padding: 0px 0px;
	border: none;
	background-color: black;

	transition: 0.1s ease-in-out;
	transition-property: background-color, color;
}

.dropdown-caret {
	float: right;
	font-size: 14px;
	pointer-events: none;
	margin: 0px 0px 2px 4px;

	transition: 0.1s ease-in-out;
	transition-property: transform, margin;
	/* background-color: orange; */
}

.animate-dropdown-caret {
	margin: 0px 0px 0px 4px;
	transform: rotate(-180deg);
}

.dropdown-content {
	position: absolute;
	visibility: hidden;
	opacity: 0%;

	border: #a3c6d0;
	border-radius: 6px;
	border-style: solid;
	border-width: thin;

	margin: 19px auto auto -19px;
	/* margin: 19px auto auto -64.61px; */

	/* background-color: #1e1e1e; */
	background-color: rgba(0, 0, 0, 0.95);
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
	z-index: 1;

	transition: 0.1s ease-in-out;
	transition-property: visibility, opacity, margin;
}

.dropdown-content a {
	display: block;
	font-size: 18px;
	padding: 30px 20px;
	/*margin: 10px 10px;*/

	transition: 0.1s ease-in-out;
	transition-property: background-color, color;
}

.show-dropdown-content {
	visibility: visible;
	opacity: 100%;

	margin: 54px auto auto -19px;
	/* margin: 54px auto auto -64.61px; */
}

.dropdown-overlay {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	opacity: 50%;
	background-color: black;
}

.show-dropdown-overlay {
	visibility: visible;
}

/*.dropdown:hover .dropdown-content {
	visibility: visible;
	opacity: 100%;
}*/

.dropdown-button:hover {
	color: #a3c6d0;
}

/*.dropdown-button:active {
	color: white;
}*/

.dropdown-content a:hover {
	color: #a3c6d0;
	/* background-color: black; */
}
/* CSS for the drop down menu ENDS here */



/* CSS for footer STARTS here */
main {
	margin: 0px auto;
	min-height: calc(100vh - 130px + 65px);
	/*background-color: pink;*/
}

footer {
	float: left;
	display: flex;
	align-items: center;

	width: 100%;
	height: 65px;
	min-width: 980px;
	background-color: black;
}

#credits {
	flex: none;
	width: auto;
	height: auto;
	margin: auto 0 auto 40px;
	/* background-color: blue; */
}

#copyright {
	flex: none;
	margin-top: 20px;
}

#social-icons {
	float: right;
	flex: none;
	display: flex;
	align-items: center;

	width: auto;
	height: 40px;
	margin: auto 40px auto auto;
	/* background-color: blue; */
}

.icon {
	float: left;
	flex: none;
	margin: auto 0px auto 20px;
}

.icon svg {	
	width: auto;
	/*height: 18px;*/
	fill: white;
	transition: fill 0.1s ease-in-out;
}

.icon svg:hover {
	fill: #a3c6d0;
}

#social-icons #first-icon {
	margin-left: 40px;
}

#linkedin-icon{
	height: 18px;
}

#gmail-icon {
	padding-top: 2px;
	height: 16px;
}

#github-icon {
	padding-top: 0.5px;
	height: 19px;
}

#vimeo-icon {
	padding-top: 1.5px;
	height: 18px;
}

#artstation-icon {
	height: 18px;
}

#sketchfab-icon {
	height: 20px;
}

#youtube-icon {
	padding-top: 1px;
	height: 17px;
}

#twitter-icon {
	height: 18px;
}
/* CSS for footer ENDS here */



/* CSS for webpage STARTS here */
#row {
	padding-top: 130px;
	margin: 0 auto;
	width: 980px;

	/*content: "";
	clear: both;
	display: table;*/
}

.spacing {
	float: left;
	width: 100%;
	height: 60px;
	/*background-color: grey;*/
}

.webpage-title h1 {
	float: left;
	text-align: center;
	font-size: 36px;

	width: 100%;
	padding: 20px 0px;
	margin-bottom: 40px;
	/*background-color: orange;*/
}

.demoreel {
	float: left;
}

.sketchfab-viewer {
	float: left;
}

iframe {
	margin: 20px;
	border-radius: 6px;
	box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}

.column {
	float: left;
	margin: 20px;
	/* position: relative; */
	
	/* transform: translateY(80px);
	filter: blur(1px);
	opacity: 0%; */

	transition-property: transform,filter, opacity;
	transition: 1s ease;
}

.inactive {
	transform: translateY(80px);
	filter: blur(1px);
	opacity: 0%;

	transition-property: transform, opacity;
	transition: 1s ease;
}

.active {
	transform: translateY(0px);
	filter: blur(0px);
	opacity: 100%;
}
/* CSS for webpage ENDS here */



/* CSS for thumbnails and concept images START here */
#row img {
	transition: transform 0.1s linear;
}

#thumbnail, #concept, #highlight-image, #headshot {
	border-radius: 6px;
	box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}

#thumbnail {
	width: 450px;
	height: auto;
}

#concept, #highlight-image {
	width: 940px;
	height: auto;
}

a:hover #thumbnail {
	/* Note: scale was 1.044 originally */
	transform: scale(1.033); 
}

/* CSS for thumbnails and concept images END here */


/* CSS for about me page STARTS here */
#headshot {
	float: left;
	width: 450px;
	height: 450px;
}

#summary {
	float: left;
	width: 450px;
	height: 450px;

	line-height: 30px;
	/* background-color: pink; */
}

#hyperlink {
	color: #a3c6d0;
}

#hyperlink:hover {
	text-decoration: underline;
}

.section {
	float: left;
	width: 450px;
	height: auto;
	margin: 20px;
	/*background-color: pink;*/
}

.section-title {
	width: auto;
	height: 25px;
	margin-bottom: 10px;
	/*background-color: purple;*/
}

.section-content {
	display: flex;
	align-items: center;
	justify-content: center;

	width: auto;
	height: 45px;
	/*background-color: orange;*/
}

.section-title h2 {
	position: relative;
	top: 50%;

	font-size: 24px;
	text-align: center;
}

.section-content p {
	flex: none;
	float: left;

	padding: 20px 0px;
	/*background-color: blue;*/
}

.download-link {
	flex: none;
	float: left;
	
	margin-left: 20px;
	/*background-color: blue;*/
}

.download-link img {
	width: auto;
	height: 35px;
}

.social-link {
	flex: none;
	float: left;

	margin: auto 20px auto 20px;
	/*background-color: blue;*/
}

.social-link img {
	width: auto;
	height: 45px;
}

a:hover #icon-link {
	transform: scale(1.066);
}
/* CSS for about me page ENDS here */






/* FOR REFRENCE: use this to calulate the scroll bar's width */
/* margin-right: calc(40px + calc(100vw - 100%)); */

/* FOR REFERENCE: link to CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
/* converts black image (svg) to white (#ffffff) */
/* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(102%) contrast(105%); */
/* converts black image (svg) to light blue (#a3c6d0) */
/* filter: invert(91%) sepia(6%) saturate(1423%) hue-rotate(157deg) brightness(87%) contrast(85%); */

/* For Reference */
/* NOTE: 40px + WidthOfLogo(90px) + 40px + WidthOfName(136px) + WidthOfNav(970px) + 40px = MinLengthOfHeader(1316px) */
@media screen and (max-width: 1332px) {

	/* Switch to drop down menu here!!! */
	/* #webpages {
		background-color: purple;
	} */
}
