@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*-------------------- Resetting CSS STARTS here --------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 0;
	/* CSS for the background STARTS here */
	background-image: url("../images/backgrounds/bg_bluewood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	/* CSS for the background ENDS here */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, 
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------- Resetting CSS ENDS here --------------------*/



/* CSS for fonts START here */
/*  
	NOTE: font-size...
	xx-small = 9px
	x-small = 10px
	small = 13px
	medium = 16px
	large = 18px
	x-large = 24px
	xx-large = 32px
*/

body, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
}

nav, button {
	font-size: large;
}

footer {
	font-size: 12px;
}

#website-name h1 {
	font-size: large;
}

#website-name h2 {
	font-size: 14px;
}

.webpage-title h1 {
	font-size: xx-large; 
	/* Original: 36px */
}

a:link, a:visited, a:active {
	color: white;
	text-decoration: none;
	transition: color 0.1s ease-in-out;
}
/* CSS for fonts END here */


/* CSS for fonts in about me page START here */
.section p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;
	
	font-size: 24px;
	line-height: 30px;
}

.section-title h2 {
	font-size: 24px;
}
/* CSS for fonts in about me page END here */


/* CSS for fonts in resume page START here */
.resume-section h2 {
	font-size: xx-large;
	font-weight: bold; /* 800 */
}

#resume-name {
	font-size: x-large;
	font-weight: bold;
	letter-spacing: 9px;
}

#resume-position {
	font-size: large;
}

#resume-location, #resume-email {
	font-size: medium;
}

.software-name {
	font-size: medium;
}

#resume-download-hyperlink {
	font-size: medium;
}

#resume-summary {
	font-size: medium;
	line-height: 30px;
}

.skill-tag {
	font-size: small;
}
/* CSS for fonts in resume page END here */



/* CSS for header STARTS here */
header {
	position: fixed;
	display: flex;
	align-items: center;

	width: 100%;
	height: 130px;
	background-color: black;
	z-index: 1;
}

#website-logo {
	float: left;
	flex: none;
	margin: auto 0 auto 40px;
	/*background-color: white;*/
}

#website-logo img {
	width: 90px;
	height: 90px;
}

#website-name {
	float: left;
	flex: none;
	width: auto;
	height: 30px;
	margin: auto 0 auto 40px;
	/* background-color: blue; */
}

#website-name h2 {
	margin-top: 30px;
}

nav {
	float: right;
	flex: none;
	display: flex;
	align-items: center;

	width: auto;
	height: 30px;
	margin: auto 40px auto auto;
	/*background-color: green;*/
}

.webpage {
	float: left;
	flex: none;

	width: auto;
	height: 30px;
	margin-left: 40px;
	/*background-color: pink;*/
}

.webpage a {
	position: relative;
	top: 50%;
	/*background-color: purple;*/
}

.webpage a:hover {
	color: #a3c6d0;
}

#current {
	color: #a3c6d0;
}
/* CSS for header ENDS here */



/* CSS for the drop down menu STARTS here */
.dropdown {
	float: left;
	flex: none;

	text-align: left;
	margin-left: 40px;
}

.dropdown-button {
	display: flex;
	align-items: center;

	padding: 0px 0px;
	border: none;
	background-color: black;

	transition: 0.1s ease-in-out;
	transition-property: background-color, color;
}

.dropdown-caret {
	float: right;
	font-size: 14px;
	pointer-events: none;
	margin: 0px 0px 2px 4px;

	transition: 0.1s ease-in-out;
	transition-property: transform, margin;
	/* background-color: orange; */
}

.animate-dropdown-caret {
	margin: 0px 0px 0px 4px;
	transform: rotate(-180deg);
}

.dropdown-content {
	position: absolute;
	visibility: hidden;
	opacity: 0%;

	border: #a3c6d0;
	border-radius: 6px;
	border-style: solid;
	border-width: thin;

	margin: 19px auto auto -19px;
	/* margin: 19px auto auto -64.61px; */

	/* background-color: #1e1e1e; */
	background-color: rgba(0, 0, 0, 0.95);
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
	z-index: 1;

	transition: 0.1s ease-in-out;
	transition-property: visibility, opacity, margin;
}

.dropdown-content a {
	display: block;
	padding: 30px 20px;
	/*margin: 10px 10px;*/

	transition: 0.1s ease-in-out;
	transition-property: background-color, color;
}

.show-dropdown-content {
	visibility: visible;
	opacity: 100%;

	margin: 54px auto auto -19px;
	/* margin: 54px auto auto -64.61px; */
}

.dropdown-overlay {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	opacity: 50%;
	background-color: black;
}

.show-dropdown-overlay {
	visibility: visible;
}

/*.dropdown:hover .dropdown-content {
	visibility: visible;
	opacity: 100%;
}*/

.dropdown-button:hover {
	color: #a3c6d0;
}

/*.dropdown-button:active {
	color: white;
}*/

.dropdown-content a:hover {
	color: #a3c6d0;
	/* background-color: black; */
}
/* CSS for the drop down menu ENDS here */



/* CSS for footer STARTS here */
main {
	margin: 0px auto;
	min-height: calc(100vh - 130px + 65px);
	/*background-color: pink;*/
}

footer {
	float: left;
	display: flex;
	align-items: center;

	width: 100%;
	height: 65px;
	min-width: 980px;
	background-color: black;
}

#credits {
	flex: none;
	width: auto;
	height: auto;
	margin: auto 0 auto 40px;
	/* background-color: blue; */
}

#copyright {
	flex: none;
	margin-top: 20px;
}

#social-icons {
	float: right;
	flex: none;
	display: flex;
	align-items: center;

	width: auto;
	height: 40px;
	margin: auto 40px auto auto;
	/* background-color: blue; */
}

.icon {
	float: left;
	flex: none;
	margin: auto 0px auto 20px;
}

.icon svg {	
	width: auto;
	/*height: 18px;*/
	fill: white;
	transition: fill 0.1s ease-in-out;
}

.icon svg:hover {
	fill: #a3c6d0;
}

#social-icons .icon:first-child {
	margin-left: 40px;
}

#linkedin-icon{
	height: 18px;
}

#gmail-icon {
	padding-top: 2px;
	height: 16px;
}

#github-icon {
	padding-top: 0.5px;
	height: 19px;
}

#vimeo-icon {
	padding-top: 1.5px;
	height: 18px;
}

#artstation-icon {
	height: 18px;
}

#sketchfab-icon {
	height: 20px;
}

#youtube-icon {
	padding-top: 1px;
	height: 17px;
}

#twitter-icon {
	height: 18px;
}
/* CSS for footer ENDS here */



/* CSS for webpage STARTS here */
#row {
	padding-top: 130px;
	margin: 0 auto;
	width: 980px;

	/*content: "";
	clear: both;
	display: table;*/
}

#row a {
	color: #a3c6d0;
}

#row a:hover {
	text-decoration: underline;
}

.spacing {
	float: left;
	width: 100%;
	height: 60px;
	/*background-color: grey;*/
}

.webpage-title h1 {
	float: left;
	text-align: center;

	width: 100%;
	padding: 20px 0px;
	margin-bottom: 40px;
	/* background-color: orange; */
}

.column, .demoreel, .sketchfab-viewer {
	float: left;
	margin: 20px;

	border-radius: 6px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.inactive {
	transform: translateY(80px);
	filter: blur(1px);
	opacity: 0%;

	transition-property: transform, filter, opacity;
	transition: 1s ease;
}

.active {
	transform: translateY(0px);
	filter: blur(0px);
	opacity: 100%;
}
/* CSS for webpage ENDS here */



/* CSS for thumbnails and concept images START here */
.thumbnail {
	width: 450px;
	height: auto;
	transition: transform 0.1s linear;
}

a:hover .thumbnail {
	transform: scale(1.044);
}

.thumbnail-overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
    opacity: 0%;
	/* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.01)); */
	/* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01)); */
	/* background-image: linear-gradient(to top, rgba(163, 198, 208, 0.3), rgba(163, 198, 208, 0.01)); */

	transition: opacity 0.1s linear;
}

a:hover .thumbnail-overlay {
	opacity: 100%;
}

#concept, #highlight-image {
	width: 940px;
	height: auto;
}
/* CSS for thumbnails and concept images END here */



/* CSS for about me page STARTS here */
#headshot {
	float: left;
	width: 450px;
	height: 450px;
}

#summary {
	float: left;
	width: 450px;
	height: 450px;
	/* background-color: pink; */
}

.section {
	float: left;
	width: 450px;
	height: auto;
	margin: 20px;
	/*background-color: pink;*/
}

.section-title {
	width: auto;
	height: 25px;
	margin-bottom: 10px;
	/*background-color: purple;*/
}

.section-content {
	display: flex;
	align-items: center;
	justify-content: center;

	width: auto;
	height: 45px;
	/*background-color: orange;*/
}

.section-title h2 {
	position: relative;
	top: 50%;
	text-align: center;
}

.section-content p {
	flex: none;
	float: left;

	padding: 20px 0px;
	/*background-color: blue;*/
}

.download-link {
	flex: none;
	float: left;
	
	margin-left: 20px;
	/*background-color: blue;*/
}

.download-link img {
	width: auto;
	height: 35px;
	transition: transform 0.1s linear;
}

.social-link {
	flex: none;
	float: left;

	margin: auto 20px auto 20px;
	/*background-color: blue;*/
}

.social-link img {
	width: auto;
	height: 45px;
	transition: transform 0.1s linear;
}

a:hover #icon-link {
	transform: scale(1.066);
}
/* CSS for about me page ENDS here */







/* CSS for "Resume" page STARTS here */
.resume-section {
	float: left;
	height: auto;
	width: 940px;

	margin: 0px 20px;
	padding: 50px 0px 50px 0px;

	border-bottom: 1px solid white;
	/* background-color: orange; */
}

.resume-section:first-child {
	padding-top: 0px;
	margin-top: 80px;
}

.resume-section:last-child {
	padding-bottom: 0px;
	margin-bottom: 80px;
	border-bottom: none;
}

.resume-section h2 {
	padding: 30px 0px;
	text-align: left;
	margin-bottom: 20px;
	/* background-color: blue; */
}

#resume-intro {
	display: inline-block;

	/* background-image: url("../images/backgrounds/bg_abstractblack.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	padding: 20px 0px;
	border: thick solid white;
	border-radius: 6px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3); */

	/* background-color: black; */
}

/* the parent element that holds #resume-headshot */
#resume-intro .resume-intro-row:first-child { 
	margin-top: 0px;
}

/* the parent element that holds #resume-name */
#resume-intro .resume-intro-row:nth-child(2) {
	margin-top: 20px;
}

/* the parent element that holds #resume-email */
#resume-intro .resume-intro-row:nth-child(5) {
	margin: 20px 0px 12px 0px;
	/* margin: 20px 0px 10px 0px; */
}

.resume-intro-row {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin-top: 10px;
	/* background-color: orange; */
}

#resume-headshot {
	float: left;
	height: auto;
	width: 160px;
	/* background-color: blue; */
}

#resume-name, #resume-position, #resume-location, #resume-email {
	float: left;
	display: block;
	padding: 12px 0px;
	/* background-color: blue; */
}

#resume-location-icon {
	float: left;
	width: auto;
	height: 15px;
	margin-right: 6px;
	margin-bottom: 1px;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(102%) contrast(105%);
	/* background-color: white; */
}

.resume-social-link {
	float: left;
	margin: auto 10px;
	/* background-color: blue; */
}

.resume-social-link img {
	width: auto;
	height: 34px;
	transition: transform 0.1s linear;
}

.resume-social-link img:hover {
	transform: scale(1.066);
}

#resume-summary {
	float: left;
	width: auto;
	height: auto;
	/* background-color: black; */
}

#resume-skills-list {
	float: left;
	margin: 0px 0px -20px -10px;
	/* background-color: black; */
}

.skill-tag {
	float: left;
	padding: 20px 20px;
	margin: 0px 10px 20px 10px;

	border: 2px solid white;
	border-radius: 6px;
	/* background-color: blue; */
}

#resume-software-list {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 20px 100px;
	/* background-color: black; */
}

.software-list-item {
	float: left;
	display: flex;
	align-items: center;
	/* background-color: orange; */
}

.software-icon {
	flex: none;
	float: left;
	width: 34px;
	height: 34px;

	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(102%) contrast(105%);
	/* background-color: white; */
}

.software-name {
	flex: none;
    float: left;
	
	padding: 20px 0px;
	margin-left: 17px;
	/* background-color: blue; */
}

.resume-download {
	display: flex;
	align-items: center;
	/* background-color: black; */
}

/* the parent element that holds the #resume-download-icon */
.resume-download a:last-child {
	flex: none;
	float: left;
	margin-left: 20px;
	/* background-color: blue; */
}

#resume-download-hyperlink {
	flex: none;
	float: left;
	padding: 10px 0px;
	/* background-color: blue; */
}

#resume-download-icon {
	width: auto;
	height: 24px;
	transition: transform 0.1s linear;
}

#resume-download-icon:hover {
	transform: scale(1.066);
}

.resume-section #contact {
	margin: 0px;
}














	




/* FOR REFRENCE: use this to calulate the scroll bar's width */
/* margin-right: calc(40px + calc(100vw - 100%)); */


/* link to CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp */
/* converts black svg (#000000) to white (#ffffff) */
/* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(102%) contrast(105%); */
/* converts black svg/image (#000000) to light blue (#a3c6d0) */
/* filter: invert(91%) sepia(6%) saturate(1423%) hue-rotate(157deg) brightness(87%) contrast(85%); */


/* For Reference */
/* NOTE: 40px + WidthOfLogo(90px) + 40px + WidthOfName(136px) + WidthOfNav(970px) + 40px = MinLengthOfHeader(1316px) */
@media screen and (max-width: 1332px) {

	/* Switch to drop down menu here!!! */
	/* #webpages {
		background-color: purple;
	} */
}
